<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311894333955-c7t91ea0v5gta4af6h9eroh07fnd0uqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311894333955-c7t91ea0v5gta4af6h9eroh07fnd0uqg</string>
	<key>API_KEY</key>
	<string>AIzaSyBMe9AsmlIDfO4f2635qIX80R9rr9mwstk</string>
	<key>GCM_SENDER_ID</key>
	<string>311894333955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.xwarzo.gotThisFlutter</string>
	<key>PROJECT_ID</key>
	<string>gotthis-b26f0</string>
	<key>STORAGE_BUCKET</key>
	<string>gotthis-b26f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311894333955:ios:18ba4944e7933ce3694c36</string>
	<key>DATABASE_URL</key>
	<string>https://gotthis-b26f0.firebaseio.com</string>
</dict>
</plist>